<div class="container">
    <p>Hello there!</p>
    <p>It's my angular 2 application for taking notes. It's so simple that type the url you want and write notes and Save.</p>
    <p>It's that simple. In case, If you want to share it within your network just give them the url <strong>http://localhost:4200/<yoururl></strong></p>
    <p>Go on!! Give it a try</p>
    <textarea autosize class="form-control" [(ngModel)]="notes"></textarea>
    <button class="btn btn-primary" (click)="Save()">Save my note!!</button>
</div>